{%extends "layout.html"%}
{% block content%}
<section>
    <div class="container my-5" >
        <nav class="nav nav-tabs" id="tablist">
            <div class="nav nav-tabs" id="tablist">
                <button class="nav-link active" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
                    type="button" role="tab" aria-controls="nav-profile" aria-selected="true">Profile</button>
            </div>
        </nav>
    
    </div>
</section>
{% endblock content %}