# Byte-compiled / optimized / DLL files
**/__pycache__/
*.py[cod]
*.so

# Virtual environments
**/venv/
**/env/

# Distribution / packaging
*.egg-info/
dist/
build/

# Flask / Django config
**/instance/
**/.env

# System files
.DS_Store
Thumbs.db
