# Byte-compiled / optimized / DLL files
**/__pycache__/
**/venv/
**/env/
.env
**/.env

# Distribution / packaging
*.egg-info/
dist/
build/

# Flask config
instance/
.env

# System files
.DS_Store
Thumbs.db


